
#hero_canvas_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero_canvas_container::before,
#hero_canvas_container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--light));
    z-index: 9;
}

#hero_canvas_container::before {
    top: 0;
    left: 0;
    transform: rotateX(180deg);
}

#hero_canvas_container::after {
    bottom: 0;
    left: 0;
}