/* || HERO SECTION */
#hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc((100vh) - 8rem);
    position: relative;
}

#hero_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: clamp(var(--min_width), 100%, var(--max_width));
    height: 100%;
}

#hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
}

#hero_header h1 {
    color: var(--dark);
    text-align: center;

    /* Headline-xlg */
    margin: 0;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 150;
    line-height: 120%;
}

#hero_header p {
    margin: 0;
    color: #646464;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 87;
    line-height: 140%;
}

#hero_header strong {
    font-weight: 150;
}

#hero_container a {
    margin-top: 2rem;
    display: inline-flex;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.3125rem;
    border: 1.5px solid var(--dark);
    transition: background-color 0.1s, color 0.1s;
}

#hero_container a:hover {
    background-color: var(--dark);
    color: var(--light);
}

#hero_canvas_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#countdown_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline: var(--inline_padding);
    margin-bottom: 10rem;
}

#countdown_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: clamp(var(--min_width), 100%, var(--max_width));
}

.tooltip {
    position: absolute;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    max-width: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    margin-top: -2rem;
    transition: opacity .3s ease-in, margin-top .2s ease-in;
}

.tooltip.active {
    max-width: 18rem;
    padding: 10px;
    border: 1px solid black;
    margin-top: 0;
    opacity: 1;
}

.tooltip h3{
    background: var(--dark);
    color: white;
    margin: 0;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
}

.tooltip p {
    text-align: center;
}

#mentors_tooltip {
    top: 0;
    left: 0;
}

#hybrid_tooltip {
    top: 15%;
    left: 16%;
}

#support_tooltip {
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
}

#creative_tooltip {
    top: 3%;
    right: 18%;
}

#team_tooltip {
    top: -5%;
    right: 0;
}

#last_supper {
    width: 100%;
    position: relative;
}

#hero_background {
    width: 100%;
}

.bear_img {
    width: 100%;
    cursor: pointer;
}

#bear_praying {
    width: 19%;

    position: absolute;
    left: 3%;
    top: 14%;
}

#bear_sleeping {
    width: 20%;
    position: absolute;
    left: 17.5%;
    top: 19%;
}

#jesus_bear {
    width: 27%;
    position: absolute;

    left: 48.5%;
    top: 8%;
    transform: translateX(-50%);
}

#bear_thinking {
    width: 15%;
    position: absolute;
    left: 64.7%;
    top: 21.5%;
}

#tetervak_bear {
    width: 20%;
    position: absolute;
    right: 2%;
    top: 12%;
}

#hero_foreground {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2%;
    pointer-events: none;
}

#clock {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -10.5%;
    pointer-events: none;
}

#honey_foreground {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2%;
    pointer-events: none;
}

#countdown {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
}

#countdown h1 {
    font-family: "DS-Digital";
    font-size: clamp(4rem, 15vw, 12rem);
    margin: 0;
    color: #9B9389;
}

.time_scale {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    position: relative;
}

.time_scale p {
    margin: 0;
    font-weight: 400;
    font-size: clamp(0.8rem, 2vw, 2rem);
    position: absolute;
    bottom: -10%;
    color: #9B9389;
}
.countdown_pair {
    display: flex;
    flex-flow: row nowrap;
    width: min-content;
}

.countdown_pair h1{
    font-family: "DS-Digital";
    /* width: 40px; */
}

.countdown_pair h1 span {
    font-family: "DS-Digital";

}

.countdown_pair h1 {
    position: relative;
    margin: 0;
    text-align: right;
    align-self: flex-end;
    color: #9B9389;
}

.countdown_pair h1 span {
    position: absolute;
    top: 0;
    left: 0;
    color: #9B9389;
    opacity: 0.1;
}

#breakdown_section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#podium_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

.podium {
    background-color: #2e2e2e;
    position: relative;
    /* overflow: hidden; */
}

.podium:nth-child(1){
    width: 80%;
    .podium_img_container {
        right: 0;
    }
}

.podium:nth-child(2){
    width: 60%;
    .podium_img_container {
        right: -1rem;
    }
}

.podium:nth-child(3){
    width: 40%;
    .podium_img_container {
        right: -8rem;
    }
}

.podium_content {
    color: white;
    padding-inline: var(--inline_padding);
}

.podium_img_container {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 100%;
}

.placing_border {
    display: grid;
    place-items: center;
    background: var(--dark);
    position: absolute;
    top: 0;
    right: -2rem;
    height: 100%;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

}
.placing {
    display: grid;
    place-items: center;   
    height: 95%;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: white;
}

.placing h2 {
    margin: 0;
    font-weight: 400;
}

#sponsor_section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline: var(--inline_padding);
}

#sponsor_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: clamp(var(--min_width), 100%, var(--max_width));

    border-radius: 8px;
    border: 1.5px solid var(--dark);
    padding-top: 0;

    overflow: hidden;
}

#sponsor_caption {
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--light);
    background-color: #2e2e2e;
    margin: 0;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    padding-block: 1rem;
}

#sponsor_logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 1rem;
}

#sponsor_logos a{
    max-width: 100%;
    position: relative;
    scale: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sponsor_logos a img {
    width: 100%;
}

.faq {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.question_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.question_container:hover {
    cursor: pointer;
}

.question_container:hover .faq_toggle{
    background: rgba(0, 0, 0, 0.1);
}

.question {
    font-weight: 400;
    margin-block: 1.2rem;
}

.faq_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    border-radius: 50%;
}

.faq_toggle div {
    background: #F08700;
    border-radius: 2px;
    transition: width .2s ease-in-out, height .2s ease-in-out;
}

.faq_toggle .vertical {
    width: 4px;
    height: 75%;
    position: absolute;
}

.faq_toggle .horizontal {
    width: 75%;
    height: 4px;
}

.faq_toggle[data-toggled=true] .vertical{
    width: 75%;
    height: 4px;
}

.answer {
    margin: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .2s ease-in 0s;
}

.answer.toggled{
    max-height: 10rem;
}

#faq_section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline: var(--inline_padding);
}

#faq_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: clamp(var(--min_width), 100%, var(--max_width));
}

#faq_container img {
    width: 5rem;
    margin-bottom: -1rem;
}

#faq_container h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
}

#faq_list_container {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    /* margin-inline: 4rem; */
}

.faq_list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    /* min-width: min(20rem, 100%); */
    width: 50%;
    height: min-content;
    /* flex-grow: 1; */

    margin: 0;
    padding: 1rem 1.5rem;
    border: 1.5px solid var(--dark);
    border-radius: 8px;
    list-style-type: none;
}

.faq_list li {
    width: 100%;
}

@media screen and (max-width: 1232px) {
    #faq_list_container {
        flex-flow: column nowrap !important;
    }

    .faq_list {
        width: 100%;
    }
}